<!DOCTYPE html>
<head>
    <meta charset="UTF-8"> <!-- charsetをUTF-8にしないとスライダーの両端にある矢印が文字化けor出ません -->
    <link rel="stylesheet" href="./testcss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="sample.js"></script>
    <link rel="stylesheet" type="text/css" href="./slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="./slick/slick-theme.css"/>
    <link rel="stylesheet" href="style.css?<?php echo date('Ymd-Hi');?>">
</head>

<body>

<header>
</header>

<form>
  <ul class="selectradio">
      {% for value in range(len) %}
      {% if img[value] == 0 %}
      <li class="selectradio-item">
          <input type="radio" name="radiogroup2"  id="0" value="0" checked="checked">
          <label for="0" class="selectradio-label">かわいい
      </li>
      {% endif %}
      {% if img[value] == 1 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="1" value="1">
              <label for="1" class="selectradio-label">カジュアル
          </li>
      {% endif %}
      {% if img[value] == 2 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="2" value="2">
              <label for="2" class="selectradio-label">ポップ
          </li>
      {% endif %}
      {% if img[value] == 3 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="3" value="3">
              <label for="3" class="selectradio-label">クール
          </li>
      {% endif %}
      {% if img[value] == 4 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="4" value="4">
              <label for="4" class="selectradio-label">エレガント
          </li>
      {% endif %}
      {% if img[value] == 5 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="5" value="5">
              <label for="5" class="selectradio-label">幻想・神秘的
          </li>
      {% endif %}
      {% if img[value] == 6 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="6" value="6">
              <label for="6" class="selectradio-label">モダン
          </li>
      {% endif %}
      {% if img[value] == 7 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="7" value="7">
              <label for="7" class="selectradio-label">ナチュラル
          </li>
      {% endif %}
      {% if img[value] == 8 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="8" value="8">
              <label for="8" class="selectradio-label">シンプル
          </li>
      {% endif %}
      {% if img[value] == 9 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="9" value="9">
              <label for="9" class="selectradio-label">和風
          </li>
      {% endif %}
      {% if img[value] == 10 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="10" value="10">
              <label for="10" class="selectradio-label">筆文字
          </li>
      {% endif %}
      {% if img[value] == 11 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="11" value="11">
              <label for="11" class="selectradio-label">中華風
          </li>
      {% endif %}
      {% if img[value] == 12 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="12" value="12">
              <label for="12" class="selectradio-label">アジアン
          </li>
      {% endif %}
      {% if img[value] == 13 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="13" value="13">
              <label for="13" class="selectradio-label">アメリカン
          </li>
      {% endif %}
      {% if img[value] == 14 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="14" value="14">
              <label for="14" class="selectradio-label">ヨーロピアン
          </li>
      {% endif %}
      {% if img[value] == 15 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="15" value="15">
              <label for="15" class="selectradio-label">メタリック
          </li>
      {% endif %}
      {% if img[value] == 16 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="16" value="16">
              <label for="16" class="selectradio-label">フルカラー
          </li>
      {% endif %}
      {% if img[value] == 17 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="17" value="17">
              <label for="17" class="selectradio-label">動物
          </li>
      {% endif %}
      {% if img[value] == 18 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="18" value="18">
              <label for="18" class="selectradio-label">魚介類
          </li>
      {% endif %}
      {% if img[value] == 19 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="19" value="19">
              <label for="19" class="selectradio-label">植物系
          </li>
      {% endif %}
      {% if img[value] == 20 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="20" value="20">
              <label for="20" class="selectradio-label">イラスト
          </li>
      {% endif %}
      {% if img[value] == 21 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="21" value="21">
              <label for="21" class="selectradio-label">スポーツ
          </li>
      {% endif %}
      % if img[value] == 22 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="22" value="22">
              <label for="22" class="selectradio-label">ダンス
          </li>
      {% endif %}
      {% if img[value] == 23 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="23" value="23">
              <label for="23" class="selectradio-label">エンブレム
          </li>
      {% endif %}
      {% if img[value] == 24 %}
          <li class="selectradio-item">
              <input type="radio" name="radiogroup2"  id="24" value="24">
              <label for="24" class="selectradio-label">音楽
          </li>
      {% endif %}
      {% endfor %}

  </ul>

</form>

<div class="gazou">
    <div class="text text01"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-001.jpg"></div>
        <div><img src="images/img01-002.jpg"></div>
        <div><img src="images/img01-003.jpg"></div>
        <div><img src="images/img01-004.jpg"></div>
        <div><img src="images/img01-005.jpg"></div>
    </div>
    <div class="text text02"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
    </div>
    <div class="text text03"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text04"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text05"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text06"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text07"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text08"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text09"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text10"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text11"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text12"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text13"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text14"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text15"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text16"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text17"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text18"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text19"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text20"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text21"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text22"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text23"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text24"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
    <div class="text text25"> <!-- 自分の環境に合わせて画像ファイルのパスを書き換えてください -->
        <div><img src="images/img01-006.jpg"></div>
        <div><img src="images/img01-007.jpg"></div>
        <div><img src="images/img01-008.jpg"></div>
        <div><img src="images/img01-009.jpg"></div>
        <div><img src="images/img01-010.jpg"></div>
      </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> <!-- JQueryの読み込み / これはslickに限らずJQueryを利用したものには必ず必要です -->
    <script type="text/javascript" src="./slick/slick.min.js"></script> <!-- slickのjavascriptファイル -->

    <!-- スライダーの初期化設定はJQueryやslickのjavascriptファイルの読み込み以降に書かないとスライダーが機能しません -->


<script>
$(document).ready(function(){
    $('.text01').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text02').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text03').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text04').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text05').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text06').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text07').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text08').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text09').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text10').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text11').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text12').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text13').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text14').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text15').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text16').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text17').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text18').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text19').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text20').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text21').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text22').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text23').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>
<script>
$(document).ready(function(){
    $('.text24').slick({
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        dots: true,
        arrows: true,
    });
});
</script>

</body>
</html>