<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>image</title>
</head>
<body>
    <title>Hello from Flask</title>

    {% for i in range(265) %}
        {% for j in range(3) %}
            {% if (i <= 9) %}
                {% if (img[j] == i) %}
                    <img src="/static/images/img01-00{{i}}.jpg" width="432" height="312">
                {% endif %}
            {% endif %}
            {% if (10 <= i <= 99) %}
                {% if (img[j] == i) %}
                    <img src="/static/images/img01-0{{i}}.jpg" width="432" height="312">
                {% endif %}
            {% endif %}
            {% if (100 <= i <= 265) %}
                {% if (img[j] == i) %}
                    <img src="/static/images/img01-{{i}}.jpg" width="432" height="312">
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}

<!--最初のページに戻る-->
    <form action="/">
    <input type="SUBMIT" class="btn btn-info btn-lg" value="終了">
    </form>
<!--ページを更新して次に近い3つのサンプルを表示-->
    <input type="button"  class="btn" value="ほかのサンプルを表示" onclick="window.location.reload();" />
    
    <script src="/static/js/main.js"></script>
</body>
</html>